# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

USER="postgres"
PASSWORD="postgres"
HOST="localhost"
PORT="5432"
DATABASE="userservice"	

DATABASE_URL=`postgresql://${USER}:${PASSWORD}@${HOST}:${PORT}/${DATABASE}?schema=public`
SECRET="secretkey"


MINIO_API_PORT="9000"
MINIO_CONSOLE_PORT="9001"
MINIO_ROOT_USER="root"
MINIO_ROOT_PASSWORD="00000000"

MINIO_ACCESS_KEY="y2S4s6gnwT4sVSzcYuOq"
MINIO_SECRET_KEY="cgO3XnisMxGwNDdVAuNTcOTIQQkDto93JPMM4YEM"

MINIO_PROTOCOL="http"
MINIO_HOST="127.0.0.1"
MINIO_ENDPOINT=`${MINIO_PROTOCOL}://${MINIO_HOST}:${MINIO_API_PORT}`
MINIO_AVATARS_BUCKET="avatars"